.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 1% auto;
    line-height: 1.15;
    font-size: 3rem;
    margin-top: 0;
  }

  .description {
    margin: 1% auto;
    line-height: 1.15;
    font-size: 1.5rem;
    font-family: monospace;
  }