.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.heroSection {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.ctaSection {
  justify-self: flex-end;
}

.title {
  font-family: monospace;
  font-size: 1rem;
  text-align: center;
  padding: 0 1.5rem;
}
