.qrcode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  max-width: 300px;
}

.image {
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.button {
  background-color: #ffdd00;
  cursor: pointer;
  color: #373737ff;
  text-align: center;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  width: 100%;
}

.button:hover {
  background-color: #ffec6e;
}

@media print {
  .button {
    display: none;
  }
}