.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 2rem 0;
  width: 25rem;
  background-color: var(--fgColor2);
  padding: 1rem;
  border-radius: 10px;
  color: var(--fontColor2);
}

.title {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--fontColor1);
  background-color: var(--fgColor1);
  padding: 1rem;
  border-radius: 5px;
  width: 100%;
}

.info {
  margin: 0;
  padding: 1rem;
  font-size: 1rem;
}

.description {
  font-family: monospace;
}

.location {
  padding-top: 1rem;
}

@media (max-width: 500px) {
  .container {
    margin-top: 0;
    padding: 0rem;
    border-radius: 0;
    width: 100vw;
  }
  .title {
    border-radius: 0;
  }
}