.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links a {
  border-bottom: 1px solid white;
  padding: 0.25rem;
}

.links a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.links span {
  margin: 0 0.5rem;
  color: white;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo span {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: white;
}

.footer a p {
  display: flex;
  align-items: center;
  margin-right: 1%;
}

.printfooter {
  display:none;
}
  
    
@media print {
  
  .footer a {
    display: none;
  }
  
  .printfooter {
    display: block;
    display: inline-flex;
    justify-content: center;
    flex-grow: 1;
    color: white;
  }
  
  .printfooter p {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-right: 2%;
  }

  .printfooter_link {
    text-decoration: underline;
  }
    
}