
.divtext {
    text-align: center;
    font-weight: bolder;
}

.prevtipsmdiv {
    border: 3px solid black;
    margin-bottom: 20px;
    margin-top: 40px;
    background-color: white;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.transInfo {
    padding: 20px;
    flex-direction: column;
    border-bottom: 1px solid #9a9da1;
    margin: 1rem;
}

.priortipsh3 {
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px solid;
    padding-bottom: 4px;
    font-size: larger;
    font-style: italic;
}

.transpan {
    font-weight: bolder;
    color: green;
}

.notips {
    padding: 20px;
    font-size: large;
}