.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  font-family: monospace;
}

.title {
  margin: 0;
  padding: 1rem;
  font-size: 6rem;
}

.subtitle {
  margin: 0;
  font-size: 3rem;
  padding-bottom: 1rem;
}

.description {
  margin: 0;
  padding: 1rem;
  font-size: 1.5rem;
}

.loginTitle {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.loginDescription {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2rem;
}