.container {
    padding: 0 2rem;
  }

  .title {
    margin: 1% auto;
    line-height: 1.15;
    font-size: 4rem;
  }


  .main {
    height: 90vh;
    margin: 2% auto;
    margin-top: 1%;
    padding: 1%;
    padding-top: 3%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    border-radius: 20px;
    background-image: linear-gradient( 135deg, #F6D242 10%, #FF52E5 100%);
  }